#pContainer {
  height: 100vh;
  overflow: hidden;
}

/* Pharmacy name */
#pName {
  display: flex;
  align-items: center;
}

#pName img {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.8rem 1rem;
  margin-right: 0.5rem;
}

#pName span {
  font-weight: 800;
}


/* Priority phrase */
#pPhraseContainer {
  height: 10rem;

  display: flex;
  align-items: center;

  font-size: 5rem;

  background-color: var(--primary-color);
}

#pPhrase {
  margin-left: 6rem;
  font-weight: 800;
}

#pPhrase span {
  color: var(--color2);
}

/* Content */
#contentContainer {
  width: 100vw;
  height: 100%;

  display: flex;
  justify-content: space-around;
}

  #info {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5rem;
    z-index: 2;
  }
  
  /* Discounts */
  #discTitle {
    display: flex;
    justify-content: center;
  }

  #discTitle p {
    position: relative;
    width: 25rem;

    font-size: 2.2rem;
    font-weight: 800;
    text-align: center;
    z-index: 2;
  }

  #discountContainer {
    display: flex;
    justify-content: space-around;
  }

  .discounts {
    width: 10.5rem;
    height: 7rem;

    margin-bottom: 2rem;

    border-start-start-radius: 0.5rem;
    border-end-end-radius: 0.5rem;
    border-start-end-radius: 2.5rem;
    border-end-start-radius: 2.5rem;

    background-color: var(--primary-color);
    overflow: hidden;
  }

  .discounts div {
    margin: 0;
    margin-left: 3rem;
    margin-top: 0.4rem;

    font-weight: 800;

    color: var(--color2);

    z-index: 2;
  }

  .discounts span {
    position: relative;
    left: 1.2rem;
    top: -1rem;

    font-size: 4.5rem;
    font-weight: 800;

    color: var(--color2);
    z-index: 1;
  }

  .discounts span sup {
    font-size: 2.5rem;
    font-weight: 800;

    color: var(--color2);
  }

  
  /* Secundary phrase */
  #text {
    height: 30%;
    min-height: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    overflow: hidden;
  }
  
  #phrase {
    max-width: 30rem;
    min-width: 22rem;
    font-size: 1.2rem;
    color: var(--color1);
  }

  #qualityes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 16rem;
    color: var(--color1);
  }

  .divider {
    border: 0;
    height: 5rem;
    width: 3px;
    border-radius: 1rem;
    background-color: var(--color1);
    color: var(--color1);
    margin: 20px 2rem;
  }


  

  #wordLine {
    position: relative;
    top: -1.3rem;
    left: 0.5rem;

    width: 100%;
    height: 1rem;

    background-color: var(--primary-color);
    z-index: -1;
  }

  /* Extra */
  .extra {
    display: flex;
    align-items: center;

    font-size: 1.2rem;
  }

  .tick {
    margin-right: 0.5rem;

    width: 1rem;
    height: 1rem;
  }

/* Offers */
#seeOffers {
  display: flex;
  justify-content: center;
}

#seeOffers button {
  position: absolute;
  bottom: 4rem;

  color: var(--color2);
  font-size: 1.2rem;

  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--primary-color);
  z-index: 5;
  cursor: pointer;
}

// Scale up to 1920 x 1080
@media (min-height: 1090px) or (min-width: 1930px) {
  #discTitle p {
    width: 33.7rem;
    font-size: 3rem;
  }

  #phrase {
    max-width: 60rem;
    font-size: 2rem;
  }

  #qualityes p {
    font-size: 1.6rem;
  }

  .discounts {
    width: 15rem;
    height: 11rem;
  }

  .discounts div {
    font-size: 1.8rem;
    margin-left: 4.5rem;
  }

  .discounts span {
    font-size: 7rem;
    left: 1.6rem;
    top: -1.5rem;
  }

  #seeOffers button {
    width: 15rem;
    height: 3.2rem;
    font-size: 1.5rem;
  }
}

// Scale under 1440 x 900
@media (max-width: 1200px) or (max-height: 700px) {
  #pName span {
    font-size: 0.8rem;
  }

  #pName img {
    width: 1rem;
  }

  #phrase {
    font-size: 1.5rem;
  }

  #pPhraseContainer {
    height: 6rem;
    font-size: 3rem;
  }

  .discounts {
    width: 6rem;
    height: 5rem;

    border-start-start-radius: 0.5rem;
    border-end-end-radius: 0.5rem;
    border-start-end-radius: 1.5rem;
    border-end-start-radius: 1.5rem;
  }

  .discounts div {
    margin-left: 1.7rem;
    font-size: 1rem;
  }

  .discounts span {
    font-size: 3rem;  
    top: -0.5rem;  
    left: 0.7rem;
  }

  .discounts span sup {
    font-size: 1.5rem;
  }

  #text {
    flex-direction: column;
  }

  .divider {
    display: none;
  }

  #phrase, #qualityes {
    flex: 0 0 50%;
  }

}

// Phone
@media (max-width: 600px) or (max-height: 700px) {

  #info {
    margin: 0 1rem;
    overflow: hidden;
  }

  #pPhraseContainer {
    height: 4rem;
    overflow: hidden;
  }

  #pPhrase {
    margin-left: 1rem;
    font-size: 1.5rem;
    overflow: hidden;
  }

  #wordLine {
    top: -0.7rem;
    height: 0.5rem;
  }

  #discTitle p {
    font-size: 1.2rem;
    width: 14.4rem;
    overflow: hidden;
  }

  #discountContainer {
    flex-wrap: wrap;
    overflow: hidden;
  }

  #phrase {
    font-size: 1rem;
  }

  #qualityes p {
    font-size: 1rem;
  }

}