:root {
  --primary-color: #749eec;
  --color1: rgb(16, 26, 61);
  --color2: rgb(255, 255, 255);

  --sec-color1: #B4DE8C;
  --sec-color2: #EFDD7E;
}

* {
  margin: 0;
  padding: 0;
  color: var(--color1);
  font-family: 'poppins', sans-serif;
  overflow-x: hidden;
  font-weight: 600;
  cursor: default;
}

body {
  width: 100vw; 
}

